// Desktop

// Менюбар + Подвал
.O_Header {
    width: 89.42vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkblue);
}

.O_Footer {
    width: 100vw;
    height: 25.26vw;
    box-sizing: border-box;
    background-color: var(--darkblue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.78vw 5.56vw;

    .FooterMenuContainer {
        display: inline-flex;
        justify-content: space-between;
    }
}

// Статья
.O_ArticleTags {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.66vw;

    .A_ArticleBodyText {
        width: auto;
    }
}

.O_ArticleHighlight {
    width: 100%;
    height: fit-content;
    background-color: var(--basicblue);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.323vw;

    .HighlightImage {
        width: 26.65vw;
        height: 19.047vw;
        background-image: url('./images/basic/A_HighlightImage.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.O_ArticleCard {
    width: 89.42vw;
    height: fit-content;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2.646vw;
    background-color: var(--darkblue);
    border-radius: 1.59vw;

    .ArticleCardPicture1 {
        background-color: var(--pinky);
        width: 38.03vw;
        height: 24.14vw;
        border-top-left-radius: 1.59vw;
        border-bottom-left-radius: 1.59vw;
    }

    .A_ArticleCardP {
        color: var(--white);
    }
}

.O_ArticleCard1 {
    width: 21.36vw;
    height: 27.91vw;
    box-sizing: border-box;
    padding-bottom: 1.653vw;
    background-color: var(--pinky);
    border-radius: 1.59vw;
    display: flex;
    flex-direction: column;
    gap: 1.653vw;

    .ArticleCardImage {
        width: 100%;
        height: 14.286vw;
        border-top-left-radius: 1.59vw;
        border-top-right-radius: 1.59vw;
    }
}

// Тест
.O_TestQuestion {
    width: 89.42vw;
    height: fit-content;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1.59vw;
    background-color: var(--pinky);
    border-radius: 1.59vw;
}

.O_TestCard {
    width: 44.7vw;
    height: 22.09vw;
    box-sizing: border-box;
    padding-left: 1.85vw;
    background-color: var(--pinky);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1.59vw;

    .TestCardImage {
        width: 21.693vw;
        height: 22.09vw;
        border-top-right-radius: 1.59vw;
        border-bottom-right-radius: 1.59vw;
    }
}

//Чек-лист
.O_ChecklistCard {
    width: 44.05vw;
    height: 16vw;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 1.322vw;
    justify-content: space-between;
    background-color: var(--pinky);
    border-radius: 1.59vw;

    .ChecklistCardImage {
        width: 17.59vw;
        height: 16vw;
        background-color: var(--darkblue);
        border-top-right-radius: 1.59vw;
        border-bottom-right-radius: 1.59vw;
    }
}

// Ipad Landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

    // Менюбар + Подвал
    .O_Header {
        width: 91.9vw;
    }

    .O_Footer {
        width: 100vw;
        height: 27.73vw;
        padding: 2.34vw 5.57vw;
    }

    // Статья
    .O_ArticleTags {
        gap: 0.78vw;
    }

    .O_ArticleHighlight {
        gap: 1.953vw;
    
        .HighlightImage {
            width: 29.23vw;
            height: 22.36vw;
        }
    }

    .O_ArticleCard {
        width: 91.9vw;
        gap: 3.125vw;
        border-radius: 1.953vw;
    
        .ArticleCardPicture1 {
            width: 39.06vw;
            height: 24.8vw;
            border-top-left-radius: 1.953vw;
            border-bottom-left-radius: 1.953vw;
        }
    }

    .O_ArticleCard1 {
        width: 29.39vw;
        height: 34.375vw;
        border-radius: 1.953vw;
        gap: 1.46vw;
    
        .ArticleCardImage {
            height: 21.48vw;
            background-color: var(--darkblue);
            border-top-left-radius: 1.953vw;
            border-top-right-radius: 1.953vw;
        }
    }

    // Тест
    .O_TestQuestion {
        width: 91.9vw;
        gap: 1.95vw;
        border-radius: 2.344vw;
    }

    .O_TestCard {
        width: 44.92vw;
        height: 22.46vw;
        padding-left: 2.344vw;
        border-radius: 1.953vw;
    
        .TestCardImage {
            width: 20.215vw;
            height: 22.46vw;
            border-top-right-radius: 1.953vw;
            border-bottom-right-radius: 1.953vw;
        }
    }

    //Чек-лист
    .O_ChecklistCard {
        width: 45.12vw;
        height: 16.4vw;
        padding-left: 1.953vw;
        border-radius: 1.953vw;

        .ChecklistCardImage {
            width: 19.336vw;
            height: 16.4vw;
            border-top-right-radius: 1.953vw;
            border-bottom-right-radius: 1.953vw;
        }
    }
}
// Ipad Portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

    // Менюбар + Подвал
    .O_Header {
        width: 89.06vw;
    }

    .O_Footer {
        width: 100vw;
        height: 27.86vw;
        padding: 2.34vw 5.6vw;
    }

        // Статья
        .O_ArticleTags {
            gap: 1.041vw;
        }

        .O_ArticleHighlight {
            gap: 2.083vw;
        
            .HighlightImage {
                width: 25.38vw;
                height: 21.875vw;
                background-image: url('./images/basic/A_HighlightImagePortrait.png');
            }
        }

        .O_ArticleCard {
            width: 89.06vw;
            gap: 2.6vw;
            border-radius: 2.08vw;
        
            .ArticleCardPicture1 {
                width: 38.02vw;
                height: 28.65vw;
                border-top-left-radius: 2.08vw;
                border-bottom-left-radius: 2.08vw;
            }
        }

        .O_ArticleCard1 {
            width: 28.385vw;
            height: 34.375vw;
            border-radius: 2.08vw;
            gap: 1.46vw;
        
            .ArticleCardImage {
                height: 18.49vw;
                border-top-left-radius: 2.08vw;
                border-top-right-radius: 2.08vw;
            }
        }

    // Тест
    .O_TestQuestion {
        width: 89.06vw;
        gap: 2.6vw;
        border-radius: 3.125vw;
    }

    .O_TestCard {
        width: 89.06vw;
        height: 28.385vw;
        padding-left: 3.125vw;
        border-radius: 2.08vw;
    
        .TestCardImage {
            width: 34.51vw;
            height: 28.385vw;
            border-top-right-radius: 2.08vw;
            border-bottom-right-radius: 2.08vw;
        }
    }

    //Чек-лист
    .O_ChecklistCard {
        width: 43.75vw;
        height: 18.75vw;
        padding-left: 2.6vw;
        border-radius: 2.083vw;

        .ChecklistCardImage {
            width: 15.756vw;
            height: 18.75vw;
            border-top-right-radius: 2.083vw;
            border-bottom-right-radius: 2.083vw;
        }
    }
}
// Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    // Менюбар + Подвал
    .O_Header {
        width: 100vw;
        height: 100vh;
    }

    .O_Footer {
        width: 100vw;
        height: 87.18vw;
        padding: 7.18vw 8.2vw;
    }

    // Статья
    .O_ArticleTags {
        gap: 2.05vw;
    }

    .O_ArticleHighlight {
        box-sizing: border-box;
        padding: 6.154vw 7.69vw;
        gap: 1.953vw;
    
        .HighlightImage {
            display: none;
        }
    }

    .O_ArticleCard {
        padding: 6.41vw 6.41vw;
        width: 83.59vw;
        border-radius: 4.1025vw;
    
        .ArticleCardPicture1 {
            display: none;
        }

        .A_ArticleCardP {
            display: none;
        }
    }

    .O_ArticleCard1 {
        width: 71.79vw;
        height: 74.36vw;
        border-radius: 2.08vw;
        gap: 3.846vw;
    
        .ArticleCardImage {
            height: 48.71vw;
            border-top-left-radius: 2.08vw;
            border-top-right-radius: 2.08vw;
        }
    }

    // Тест
    .O_TestQuestion {
        width: 83.59vw;
        justify-content: center;
        padding-top: 5.13vw;
        padding-bottom: 5.13vw;
        gap: 2.6vw;
        border-radius: 6.15vw;
    }

    .O_TestCard {
        width: 83.59vw;
        height: 42.051vw;
        padding-left: 3.846vw;
        border-radius: 4.1vw;
    
        .TestCardImage {
            width: 34.51vw;
            height: 42.051vw;
            border-top-right-radius: 4.1vw;
            border-bottom-right-radius: 4.1vw;
        }
    }

    //Чек-лист
    .O_ChecklistCard {
        width: 83.59vw;
        height: 35.897vw;
        padding-left: 4.103vw;
        border-radius: 4.103vw;

        .ChecklistCardImage {
            width: 30.77vw;
            height: 35.897vw;
            border-top-right-radius: 4.103vw;
            border-bottom-right-radius: 4.103vw;
        }
    }
}