* {
    box-sizing: border-box;
}
body.about {
    background-color: var(--white);

    .S_ArticleHeader {
        padding-bottom: 3vw;

        .O_Header {
            flex-direction: column;
            justify-content: center;
            gap: 1vw;
        }
        .O_ArticleGridSection {
            width: 89.42vw;
            height: 45vw;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            margin-top: 0.6vw;

            .A_ArticleTitle {
                line-height: 0.88;
            }

            .AboutTitle_1_1, .AboutTitle_1_2, .AboutTitle_3, .AboutTitle_4 {
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 3;
                grid-column-end: 6;
            }

            .AboutTitle_1_2 {
                grid-column-start: 6;
                grid-column-end: 11;
                margin-left: 2vw;
            }

            .AboutTitle_2 {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 4;
                grid-column-end: 8;
            }
            .AboutTitle_3 {
                grid-row-start: 3;
                grid-row-end: 4;
                grid-column-start: 7;
                grid-column-end: 11;
            }
            .AboutTitle_4 {
                grid-row-start: 4;
                grid-row-end: 5;
                grid-column-start: 4;
                grid-column-end: 10;
            }
            .CB2_1 {
                grid-row-start: 3;
                grid-row-end: 5;
                grid-column-start: 1;
                grid-column-end: 3;
            }
            .CB3_1 {
                grid-row-start: 4;
                grid-row-end: 7;
                grid-column-start: 10;
                grid-column-end: 13;
            }
        }
        .A_PrimaryButton {
            position: absolute;
            margin: 0 auto;
            top: 47vw;
        }
    }
    
    .S_PinkScreen {
        width: 100%;
        height: 41.2vw;
        padding: 7vw 5.56vw;
        background-image: url("/src/images/about/About_PinkScreen.webp");

        .PinkGridContainer {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            column-gap: 1.32vw;

            .PinkGridContent {
                grid-column-start: 7;
                grid-column-end: 13;
                display: flex;
                flex-direction: column;
                gap: 3.97vw;

                .PinkScreenText {
                    display: flex;
                    flex-direction: column;
                    gap: 2.91vw;

                    .A_ArticleBodyText {
                        width: 100%;
                    }
                }
            }
        }
    }
    .S_AboutContent {
        width: 89.42vw;
        height: fit-content;
        margin: 2.116vw auto;
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        column-gap: 1.32vw;

        .A_ArticleTitle {
            color: var(--darkblue);
            line-height: 0.88;
            display: inline-block;
        }

        .AT1_1, .AT1_2 {
            margin-top: 3vw ;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .AT1_2 {
            grid-column-start: 5;
            grid-column-end: 14;
        }

        .AT2 {
            margin-top: 0.7vw;
            grid-column-start: 7;
            grid-column-end: 18;
        }

        .AT3 {
            margin-top: 0.7vw;
            grid-column-start: 10;
            grid-column-end: 25;
        }

        .A_ArticleBodyText {
            grid-column-start: 1;
            grid-column-end: 10;
            width: 100%;
            margin-top: -5vw;
        }

        .AboutTag1, .AboutTag2, .AboutTag3, .AboutTag4 {
            position: absolute;
        }

        .AboutTag1 {
            top: 115vw;
            left: 5vw;
        }
        .AboutTag2 {
            top: 105vw;
            left: 62vw;
        }
        .AboutTag3 {
            top: 113vw;
            left: 74vw;
        }
        .AboutTag4 {
            top: 108vw;
            left: 85vw;
        }

        .C_ArticleCards, .ForWhomContainer {
            margin-top: 5vw;
            grid-column-start: 1;
            grid-column-end: 25;
        }

        .ForWhomContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .ForWhomText {
                width: 39.75vw;
                height: fit-content;
                display: flex;
                flex-direction: column;
                gap: 3vw;

                .A_ArticleBodyText {
                    margin-top: -2vw;
                }
            }

            img {
                width: 44.11vw;
            }
        }
    }
    .S_LandingFinal {
        margin-top: 5vw;
        padding: 5vw 0;
        background-color: var(--basicblue);

        .O_ArticleGridSection {
            margin: 0vw auto;
            width: 89.42vw;
            height: 46.92vw;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

            .Q_1Circle {
                background-color: var(--darkblue);
            }

            .A_ArticleTitle {
                color: var(--white);
                line-height: 0.88;
            }

            .A_ArticleBodyText {
                color: var(--white);
            }
            .LT4 {
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 1;
                grid-column-end: 5;
            }

            .LT5 {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 3;
                grid-column-end: 8;
            }

            .LT6 {
                grid-row-start: 2;
                grid-row-end: 3;
                margin-left: 3vw;
                grid-column-start: 7;
                grid-column-end: 13;
            }

            .BT1 {
                width: 100%;
                grid-row-start: 3;
                grid-row-end: 5;
                grid-column-start: 4;
                grid-column-end: 7;
            }

            .CB2_1 {
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 5;
            }
            .CB3_1 {
                grid-column-start: 10;
                grid-column-end: 13;
                grid-row-start: 3;
                grid-row-end: 6;
            }
        }
    }
    .O_Form {
        width: 89.42vw;
        margin: 0 auto;
        height: fit-content;
        background-color: var(--darkblue);
        border-radius: 1.59vw;
        padding: 2.12vw;
        display: flex;
        flex-direction: column;
        gap: 2vw;

        .A_ArticleH3 {
            color: var(--white)
        }

        .InputBtn {
        display: flex;
        flex-direction: row;

            input {
            width: 29vw;
            background-color: var(--darkblue);
            border: 0.2vw var(--white) solid; 
            border-radius: 40vw;
            padding: 1vw;
            padding-left: 2vw;
            font-family: 'TT Firs Neue Regular';
            font-size: 1.3vw;
            color: var(--white);
            }
            
            .A_PrimaryButton {
            margin-left: 3.44vw;
            }
        }
    }
    .O_Footer {
        margin-top: 0vw;
    }

    // Ipad Landscape
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        .S_AboutContent {
            .C_ArticleCards {
                background-color: var(--basicblue);
                .O_ArticleCard:nth-child(4) {
                    display: none;
                }
            }
        }
    }

    // Mobile
    @media only screen and (max-device-width: 414px) and (orientation: portrait) {
        .S_ArticleHeader {

            .O_Header {
                gap: 5vw;
            }
            .O_ArticleGridSection {
                width: 84vw;
                margin-top: 18vw;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                row-gap: 3.846vw;
                column-gap: 4.1vw;

                .A_ArticleTitle {
                    margin-top: 6vw;
                }

                .AboutTitle_1_1 {
                    grid-row-start: 1;
                    grid-row-end: 2;
                    grid-column-start: 1;
                    grid-column-end: 3;
                }

                .AboutTitle_1_2 {
                    grid-row-start: 2;
                    grid-row-end: 3;
                    grid-column-start: 2;
                    grid-column-end: 5;
                }

                .AboutTitle_2 {
                    grid-row-start: 3;
                    grid-row-end: 4;
                    grid-column-start: 1;
                    grid-column-end: 4;
                    margin-left: 5vw;
                }

                .AboutTitle_3 {
                    grid-row-start: 4;
                    grid-row-end: 5;
                    grid-column-start: 2;
                    grid-column-end: 5;
                }

                .AboutTitle_4 {
                    grid-row-start: 5;
                    grid-row-end: 6;
                    grid-column-start: 1;
                    grid-column-end: 5;
                    margin-left: 7vw;
                }

                .CB2_1, .CB3_1 {
                    display: none;
                }
            }
            .A_PrimaryButton {
                top: 186vw;
            }
        }

        .S_PinkScreen {
            padding: 8.2vw;
            height: fit-content;
            background-size: cover;
            background-repeat: no-repeat;

            .PinkGridContainer {
                .PinkGridContent {
                    grid-column-start: 1;
                    grid-column-end: 13;
                }
            }
        }
        
        .S_AboutContent {
            .A_ArticleTitle, .A_ArticleBodyText {
                grid-column-start: 1;
                grid-column-end: 25;
            }
            .A_ArticleBodyText {
                margin-top: 5vw;
            }
            .A_Tag {
                display: none;
            }
        }
    }
}