* {
    box-sizing: border-box;
}
body.about {
    background-color: var(--white);

    .S_ArticleHeader {
        padding-bottom: 3vw;

        .O_Header {
            flex-direction: column;
            justify-content: center;
            gap: 1vw;
        }
        .O_ArticleGridSection {
            width: 89.42vw;
            height: 45vw;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            margin-top: 0.6vw;

            .A_ArticleTitle {
                line-height: 0.88;
            }

            .AboutTitle_1_1, .AboutTitle_1_2, .AboutTitle_3, .AboutTitle_4 {
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 3;
                grid-column-end: 6;
            }

            .AboutTitle_1_2 {
                grid-column-start: 6;
                grid-column-end: 11;
                margin-left: 2vw;
            }

            .AboutTitle_2 {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 4;
                grid-column-end: 8;
            }
            .AboutTitle_3 {
                grid-row-start: 3;
                grid-row-end: 4;
                grid-column-start: 7;
                grid-column-end: 11;
            }
            .AboutTitle_4 {
                grid-row-start: 4;
                grid-row-end: 5;
                grid-column-start: 4;
                grid-column-end: 10;
            }
            .CB2_1 {
                grid-row-start: 3;
                grid-row-end: 5;
                grid-column-start: 1;
                grid-column-end: 3;
            }
            .CB3_1 {
                grid-row-start: 4;
                grid-row-end: 7;
                grid-column-start: 10;
                grid-column-end: 13;
            }
        }
        .A_PrimaryButton {
            position: absolute;
            margin: 0 auto;
            top: 47vw;
        }
    }
    
    .S_PinkScreen {
        width: 100%;
        height: 41.2vw;
        padding: 7vw 5.56vw;
        background-image: url("/src/images/about/About_PinkScreen.webp");

        .PinkGridContainer {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            column-gap: 1.32vw;

            .PinkGridContent {
                grid-column-start: 7;
                grid-column-end: 13;
                display: flex;
                flex-direction: column;
                gap: 3.97vw;

                .PinkScreenText {
                    display: flex;
                    flex-direction: column;
                    gap: 2.91vw;

                    .A_ArticleBodyText {
                        width: 100%;
                    }
                }
            }
        }
    }
    .S_AboutContent {
        width: 89.42vw;
        height: fit-content;
        margin: 2.116vw auto;
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        column-gap: 1.32vw;

        .A_ArticleTitle {
            color: var(--darkblue);
            line-height: 0.88;
            display: inline-block;
        }

        .AT1_1, .AT1_2 {
            margin-top: 3vw ;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .AT1_2 {
            grid-column-start: 5;
            grid-column-end: 14;
        }

        .AT2 {
            margin-top: 0.7vw;
            grid-column-start: 7;
            grid-column-end: 18;
        }

        .AT3 {
            margin-top: 0.7vw;
            grid-column-start: 10;
            grid-column-end: 25;
        }

        .A_ArticleBodyText {
            grid-column-start: 1;
            grid-column-end: 10;
            width: 100%;
            margin-top: -5vw;
        }

        .A_Tag {
            position: absolute;
        }

        .AboutTag1 {
            top: 115vw;
            left: 5vw;
        }
        .AboutTag2 {
            top: 105vw;
            left: 62vw;
        }
        .AboutTag3 {
            top: 113vw;
            left: 74vw;
        }
        .AboutTag4 {
            top: 108vw;
            left: 87vw;
        }
    }

    .S_Articles {
        width: 89.42vw;
        margin: 0 auto;
        height: fit-content;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;

        .O_ArticleCard {
            width: 59.12vw;

            .ArticleCardPicture1 {
                width: 21.56vw;
                height: 18.12vw;
            }

            .M_ArticleCard {
                scale: 0.66;
            }
        }

        .O_ArticleCard1 {
            width: 13.82vw;
        }

        .O_ArticleCard, .O_ArticleCard1 {
            height: 18.12vw;
        }
    }

    // Ipad Landscape
    @media only screen and (max-device-width: 414px) and (orientation: portrait) {
        .S_ArticleHeader {

            .O_Header {
                gap: 5vw;
            }
            .O_ArticleGridSection {
                width: 84vw;
                margin-top: 18vw;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                row-gap: 3.846vw;
                column-gap: 4.1vw;

                .A_ArticleTitle {
                    margin-top: 6vw;
                }

                .AboutTitle_1_1 {
                    grid-row-start: 1;
                    grid-row-end: 2;
                    grid-column-start: 1;
                    grid-column-end: 3;
                }

                .AboutTitle_1_2 {
                    grid-row-start: 2;
                    grid-row-end: 3;
                    grid-column-start: 2;
                    grid-column-end: 5;
                }

                .AboutTitle_2 {
                    grid-row-start: 3;
                    grid-row-end: 4;
                    grid-column-start: 1;
                    grid-column-end: 4;
                    margin-left: 5vw;
                }

                .AboutTitle_3 {
                    grid-row-start: 4;
                    grid-row-end: 5;
                    grid-column-start: 2;
                    grid-column-end: 5;
                }

                .AboutTitle_4 {
                    grid-row-start: 5;
                    grid-row-end: 6;
                    grid-column-start: 1;
                    grid-column-end: 5;
                    margin-left: 7vw;
                }

                .CB2_1, .CB3_1 {
                    display: none;
                }
            }
            .A_PrimaryButton {
                top: 186vw;
            }
        }

        .S_PinkScreen {
            padding: 8.2vw;
            height: fit-content;
            background-size: cover;
            background-repeat: no-repeat;

            .PinkGridContainer {
                .PinkGridContent {
                    grid-column-start: 1;
                    grid-column-end: 13;
                }
            }
        }
        
        .S_AboutContent {
            .A_ArticleTitle, .A_ArticleBodyText {
                grid-column-start: 1;
                grid-column-end: 25;
            }
            .A_ArticleBodyText {
                margin-top: 5vw;
            }
            .A_Tag {
                display: none;
            }
        }
    }
}