body.article {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    // background-color: var(--white);
    // background: url('images/article_maket.png');
    background-size: cover;
    opacity: 1; 
    .firstscreen {
        height: 36.8vw;
        margin-top: -0.1vw;
    }
    .circlegrid {
        padding: 1vw 5.3vw 6.4vw 5.2vw;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 1vw 1vw;
    }
    .text1 {
        line-height: 90%;
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row: 1;
    }
    .text2 {
        line-height: 50%;
        margin-top: 2.2vw;
        grid-column-start: 3;
        grid-column-end: 9;
        grid-row: 2;
    }
    .text3 {
        line-height: 50%;
    margin-top: 2.2vw;
        grid-column-start: 6;
        grid-column-end: 10;
        grid-row: 3;
    }
    .text1, .text2, .text3 {
        color: var(--white);
    }
    .photo1, .photo2 {
        width: 100%;
        height: 100%;
    }
    .photo1 {
        grid-column-start: 10;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 4;
        background-image: url(images/articles/article_winter1.png);
        background-size: cover;
    }
    .photo2{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 5;
        background-image: url(images/articles/article_winter2.png);
        background-size: cover;
    }
    .first {
        margin-top: 2.3vw;
        margin-left: 5.4vw;
        .text_1 {
            margin-left: 2.7vw;
            margin-top: 0.1vw;
            line-height: 130%;
            width: 50vw;
        }
    }
    .first, .all_bubbles {
        display: flex;
    }
    .all_bubbles {
        margin-top: 0.5vw;
        gap: 0.8vw;
    }
    .b_1{
        width: 5.3vw;
    }
    .b_2 {
        width: 7vw;
    }
    .b_3 {
        width: 6vw;
    }
}
// содержание страницы
.content > * {
    margin-left: 28vw;
}
.content {
    h2 {
        margin-top: 3.7vw;
    }
    h3 {
        margin-top: 2.7vw;
        margin-bottom: 1.9vw;
    }
    p{
        margin-top: 1.5vw;
        width: 55vw;
    }
    .photo_type1 {
        height: 49.74vw;
        width:100%;
        background-image: url(images/articles/article_winter3.png);
        background-size: cover;
        margin-top: 2.8vw;
        margin-left: 0;
    }
    li {
        margin-top: 0.1vw;
        margin-left: 28.3vw;
    }
    .li_first {
        margin-top: 0.5vw;
    }
    .photo_type2, .photo_type3 {
        height: 35.587vw;
        margin-top: 2.8vw;
        border-radius: 2vw;
    }
    .photo_type2
    {
        width: 66.74vw;
        background-image: url(images/articles/article_winter4.png);
        background-size: cover;
    }
    .type02 {
        margin-left: 1.6vw;
    }
    .snoska {
        width: 100%;
        height: 19.18vw;
        background-image: url(images/articles/snoska.png);
        background-size: cover;
        margin-left: 0;
        margin-top: 3vw;
        padding: 0.5vw 0;
        h3 {
            color: var(--white);
            margin-left: 28vw;
            margin-top: 2vw;
        }
    }
    .line {
        display: inline-block;
    }
    .photo_type3 {
        width: 21.04vw;
        background-image: url(images/articles/article_winter5.png);
        background-size: cover;
        margin-left: 5.4vw;
    }
    .winter_1{
        background-image: url(images/articles/article_winter6.png);
        background-size: cover;
    }
    .the_last {
        margin-top: 2.7vw;
    }
    
}
.articles_new{
    margin-left: 5.3vw;
}
.articles-category > .articles {
    margin-top: 1vw;
}
.p4 {
    background-image: url('images/article4_pic.png');

}
// меню
.menu {
    display: flex;
    padding: 2vw 0;
    background-color: var(--darkblue);
    .logo {
        width: 10vw;
        height: 3vw;
        margin-left: 5.3vw;
        background-image: url('images/logo.png');
      }
    .link{
        display: flex;
        margin-left: 16.1vw;
        margin-top: 0.8vw;
        .tags {
            color: var(--white);
            margin-left:4.6vw;
        }
        .tag1 {
            margin-left:0vw;
        }
    }
    .search {
        width: 1.66vw;
        height: 1.66vw;
        margin-top: 0.7vw;
        margin-left: 24.5vw;
        background-image: url('images/search.svg');

    }
}

// мобильная версия
@media all and (max-width: 414px) {
    h1 {
        font-size: 12.5vw;
    }
    .link >*, .search {
        display: none;
    }
    .footer {
        margin-top: 12vw;
    }
    // другие статьи

    .articles-category {
        width: 100%;
        height: 97vw;
        margin-top: 5vw;
        padding: 0 2vw;
        .articles::-webkit-scrollbar {
            display: none;
          }
        .articles {
            overflow: hidden;
            overflow-x: scroll;
            height: 90vw;
            padding: 0 6vw;
            margin-top: 5vw;
            a {
                width: 73vw;
                height: 90vw;
                border-radius: 7.7vw;
                gap: 5.7vw;
            }
            .article-container {
                gap: 0 4.7vw;
              }
    }

        .article_pic {
          height: 56vw;
        }

        .article-info {
            height: 21vw;
            padding: 0 4vw;
            margin-top: -2vw;

          .article-tags {
            height: 3vw;
            gap: 3vw;
            width: 65vw;
            

            .article_tag {
              width: fit-content;
              padding: 0vw 4vw;
              height: 7vw;
              border: 0.3vw solid var(--white);
              p {
                width: fit-content;
                margin-top: 0;
              }
            }
          }
        }
      }
    .menu_web {
        width: 9.5vw;
        height: 9.5vw;
        margin-top: -2.3vw;
        margin-left: 33.5vw;
        background-image: url('images/menu.svg');
    } 
    .menu {
        padding: 5vw 0;
        .logo {
            width: 25vw;
            height: 7vw;
            margin-left: 8vw;
       }
    }
    .tags {
        font-size: 3.7vw;
        margin-top: 1.4vw;
        margin-left: 2.5vw;
    }
    body.article {
        .firstscreen{
            height: 188.8vw;
        }
        .circlegrid{
            margin-top: -0.2vw;
            padding: 1vw 7vw 8.1vw 8.2vw;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 4vw 4vw;
        }
        .text1 {
            line-height: 60%;
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row: 4;
            margin-top: 4.3vw;
        }
        .web {
            display: none;
        }
        .photo1 {
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 4;
        }
        .text2 {    
            line-height: 50%;
            margin-top: -3.4vw;
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row: 5;
        }
        .photo2 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 7;
            grid-row-end: 9;
        }
        .text3 {
            line-height: 50%;
            margin-top: -11.8vw;
            margin-left: 32vw;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row: 6;
        }
        .first {
            display: block;
            margin-top: 4.1vw;
            .text_1 {
                margin-left: 2.7vw;
                margin-top: 4.9vw;
                width: 81vw;
                line-height: 116%;
            }
        }
        .all_bubbles {
            margin-top: 2.5vw;
            margin-left: -1vw;
            gap: 0 0;
            display: flex;
        }
        .b_1 {
            width: 16.3vw;
        }
        .b_2, .b_3 {
            margin-left: 1.6vw 
        }
        .b_2 {
            width: 21vw;
        }
        .b_3 {
            width: 19.3vw;
        }
        .content >* {
            margin-left: 8vw;
        }
        p {
            line-height: 116%; 
            margin-top: 2.5vw;
            width: 81vw;
        }
        h2 {
            margin-top: 7.9vw;
            width: 83vw;
            line-height: 88%;
        }
        h3 {
            margin-top: 4.7vw;
            margin-bottom: 3.7vw;
        }
        .photo_type1{
            margin-left: 0;
            margin-top: 3.5vw;
        }
        .photo_type2 {
            width: 83.74vw;
            height: 44.8vw;
            margin-top: 3.5vw;
        }
        .snoska {
            margin-top: 4vw;
            height: 42vw;
            padding: 1.2vw 0;
            margin-left: 0;
            background-image: url('images/snoska_web.png');
            h3 {
                margin-left: 8vw;
            }
        }
    }
}