* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

h1 {
  font-family: 'TT Firs Neue Regular';
  font-size: 7vw;
}