* {
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

h1 {
  font-family: 'TT Firs Neue Regular';
  font-size: 7.3vw;
}

h2 {
  font-family: 'TT Firs Neue Regular';
  font-size: 4vw;
  color: var(--darkblue)
}

h3 {
  font-family: 'TT Firs Neue Regular';
  font-size: 2.8vw;
  color: var(--darkblue);
}

h4 {
  font-family: 'TT Firs Neue Regular';
  font-size: 2.2vw;
  color: var(--darkblue);
}

li, p {
  font-family: 'TT Firs Neue Regular';
  font-size: 1.4vw;
  line-height: 130%;
  color: var(--darkblue);
}

a {
  text-decoration: none;
  font-family: 'TT Firs Neue Regular';
  color: var(--darkblue);
}

.article_pic {
  width: 100%;
  height: 21.8vw;
}

.article-info {
  width: 100%;
  height: 10.5vw;
  padding: 0 1.8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}
.tags {
  font-family: "TT Firs Neue Regular";
  font-size: 1.2vw;
}
.article-tags {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.article_tag {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: var(--white);
  border: 0.1vw solid var(--white);
  border-radius: 30px;
  padding: 1vw;
  width: fit-content;
  height: 2.6vw;
  margin-bottom: 1.8vw;
}

.article_tag p {
  font-size: 1.1vw;
  color: var(--white);
}

.btn {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 0.3vw 0.3vw 0.3vw 2vw;
  background-color: var(--pinky);
  border: 0.2vw solid var(--pinky);
  border-radius: 8vw;
  font-family: 'TT Firs Neue';
  text-decoration: none;
  font-size: 1.6vw;
  color: var(--darkblue);
  transition: all 0.2s;
}

.btn img {
  display: inline-block;
  width: 3vw;
  height: 3vw;
  transition: all 0.3s;
  margin-left: 2vw;
} 

.btn:hover {
  background-color: var(--darkblue);
  color: var(--pinky);
}
.btn:hover img {
  content: url('images/btn-icon1.png');
}

.btn-2 {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  padding: 0.3vw 0.3vw 0.3vw 2vw;
  height: fit-content;
  background-color: var(--darkblue);
  border: 0.2vw solid var(--darkblue);
  border-radius: 8vw;
  font-family: 'TT Firs Neue';
  text-decoration: none;
  font-size: 1.6vw;
  color: var(--pinky);
  transition: all 0.2s;
}

.btn-2 img {
  display: inline-block;
  width: 3vw;
  height: 3vw;
  transition: all 0.3s;
  margin-left: 2vw;
} 

.btn-2:hover {
  background-color: var(--pinky);
  color: var(--darkblue);
}
.btn-2:hover img {
  content: url('images/btn-icon2.png');
}
.bubble {
  border: 0.1vw solid var(--darkblue);
  border-radius: 10vw;
  width: 14.8vw;
  text-align: center;
  font-size: 1.2vw;
  font-family: "TT Firs Neue";
  padding: 0.8vw 0;
  color: var(--darkblue);
}

@media only screen and (max-width: 414px) {
  h2 {
    font-size: 10vw;
  }

  h3 {
    font-size: 6.5vw;
  }
  h4 {
    font-size: 6vw;
  }
  li, p {
    font-size: 4vw;
  }
  .bubble {
    border: 0.4vw solid var(--darkblue);
    font-size: 3.7vw;
    padding: 1.4vw 0;
    height: 7vw;
  }
  .article_tag p {
    font-size: 4vw;
    color: var(--white);
  }
}

// .btn img:hover {
//   content: url('images/btn-icon2.png')
// }


// .btn {
//   width: 10vw;
//   height: 3vw; 
//   background-color: none;
//   border: 3px solid;
//   border-color: var(--pinky);
// }

// .btn p {
//   font-size: 3vw;
//   text-decoration: none;
// }