body.dictionary {
    .AMobile {
        display: none;
    }
}

// Ipad Landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    body.dictionary {
        .TabletNone {
            display: none;
        }
    }
}
// mobile 

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    body.dictionary {
        .Mobile {
            display: none;
        }
        .AMobile {
            display: block;
        }
        
        .AM1 {
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .AM2 {
            grid-row-start: 4;
            grid-row-end: 5;
            text-align: right;
            width: 100%;
        }
        .AnotherMobile {
            grid-row-start: 3;
            grid-row-end: 4;
            text-align: right;
            width: 100%;
        }
    }
}