body.index {
  background-color: var(--white);

  .A_ArticleTitle, .A_ArticleH2 {
    color: var(--darkblue);
  }

  .S_ArticleHeader {
    .O_ArticleGridSection {
      width: 89.42vw;
      height: 51.9vw;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  
      .MainTitle_1_1, .MainTitle_1_2, .MainTitle_2_1, .MainTitle_2_2, .MainTitle_3_1, .MainTitle_3_2 {
        color: var(--white)
      }
      .MainTitle_1_1, .MainTitle_1_2 {
        grid-row-start: 2;
        grid-row-end: 3;
      }

      .MainTitle_1_1 {
        grid-column-start: 2;
        grid-column-end: 6;
        z-index: 2;
      }

      .MainTitle_1_2 {
        grid-column-start: 6;
        margin-left: 2vw;
        grid-column-end: 10;
      }
  
      .MainTitle_2_1, .MainTitle_2_2 {
        grid-row-start: 3;
        grid-row-end: 4;
      }

      .MainTitle_2_1 {  
        grid-column-start: 4;
        grid-column-end: 7;
      }
  
      .MainTitle_2_2 {
        margin-left: 2vw;
        grid-column-start: 7;
        grid-column-end: 12;
      }

      .MainTitle_3_1, .MainTitle_3_2 {
        grid-row-start: 4;
        grid-row-end: 5;
      }

      .MainTitle_3_1 {
        grid-column-start: 3;
        grid-column-end: 7;
      }

      .MainTitle_3_2 {
        grid-column-start:7;
        grid-column-end: 12;
        margin-left: 1vw;
        z-index: 6;
      }
    }
    .A_PrimaryButton {
      position: absolute;
      margin: 40.7vw auto;
    }
  
    .Q_2Circles, .Q_3Circles {
      position: absolute;
    }
    .CB2_main_1 {
      top: 17.07vw;
      left: 4.62vw;
      z-index: 1;
      animation: circle-2 linear 1.2s;
    }
    .CB2_main_2 {
      top: 8.6vw;
      left: 73.28vw;
      animation: circle-1 linear 1.2s;
    }
    .CB2_main_3 {
      top: 39.62vw;
      left: 20.63vw;
      animation: circle-4 linear 1.2s;
    }
    .CB3_main_1 {
      top: 33.15vw;
      left: 77.28vw;
      z-index: 3;      
      animation: circle-3 linear 1.2s;
    }

    @keyframes circle-1 {
      0% {
        top: -14vw;
        left: 64vw;
        transform: scale(0.8);
      }
      100% {
        top: 8.6vw;
        left: 73.28vw;
        transform: scale(1);
      }
    }

    @keyframes circle-2 {
      0% {
        top: 15vw;
        left: -14vw;
        transform: scale(0.8);
      }
      100% {
        top: 17.07vw;
        left: 4.62vw;
        transform: scale(1);
      }
    }

    @keyframes circle-3 {
      0% {
        top: 22vw;
        left: 102vw;
        transform: scale(0.8);
      }
      100% {
        top: 33.15vw;
        left: 77.28vw;
        transform: scale(1);
      }
    }

    @keyframes circle-4 {
      0% {
        top: 39vw;
        left: -15vw;
        transform: scale(0.8);
      }
      100% {
        top: 39.62vw;
        left: 20.63vw;
        transform: scale(1);
      }
    }

    .A_Tag {
      position: absolute;
    }
    .MainTag1 {
      top: 10.45vw;
      left: 9.33vw;
    }
    .MainTag2 {
      top: 11.77vw;
      left: 57.8vw;
    }
    .MainTag3 {
      top: 35.92vw;
      left: 9.33vw;
    }
    .MainTag4 {
      top: 51.92vw;
      left: 69.7vw;
    }
  }
  
  .S_MainValues {
    width: 100%;
    height: 48.54vw;
    padding:  9vw 5.56vw;
    background-image: url('/src/images/main/main_background1.webp');

    .ValuesGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      column-gap: 1.32vw;
    }
    .A_ArticleTitle {
      color: var(--darkblue);
    }

    .TV1 {
      grid-column-start: 1;
      grid-column-end: 10;
    }
    .TV2 {
      grid-column-start: 5;
      grid-column-end: 12;
    }
    .TV3 {
      grid-column-start: 3;
      grid-column-end: 13;
    }
    .A_ArticleBodyText {
      margin-top: 3vw;
      grid-column-start: 5;
      grid-column-end: 11;
    }
  }

  .S_ArticleContent {
    .ArticleHeaderContainer, .O_ArticleCard, .C_DictionaryCards, .TestContainer, .O_Form {
      grid-column-start: 1;
      grid-column-end: 25;
    }
    .ArticleHeaderContainer {
      margin-top: 6vw;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .A_ArticleH2 {
        width: 50vw;
      }

      .A_ButtonLoad {
        text-decoration: underline;
        text-underline-offset: 0.26vw;
        width: auto;
      }
    }
    .O_ArticleCard, .C_DictionaryCards {
      margin-top: 2.38vw;
    }
    .O_ArticleCard {
      height: 30.57vw;

      .ArticleCardPicture1 {
        height: 100%;
      }
    }

    .PinkyCard {
      background-color: var(--pinky);

      .M_ArticleCard {
        .A_ArticleCardH3, .A_ArticleCardP {
          color: var(--darkblue);
        }
      }
    }

    .TestContainer {
      margin-top: 6.61vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .ArticleHeaderContainer {
        width: 32.67vw;
        margin-top: 0;
        flex-direction: column;
        gap: 2vw;
        align-items: baseline;

        .A_ArticleH2, .A_ArticleBodyText {
          width: 100%;
        }
      }
    }

    .O_Form {
      width: 100%;
      height: fit-content;
      background-color: var(--darkblue);
      border-radius: 1.59vw;
      padding: 2.12vw;
      margin-top: 6vw;
      display: flex;
      flex-direction: column;
      gap: 2vw;

      .A_ArticleH3 {
        color: var(--white)
      }

      .InputBtn {
        display: flex;
        flex-direction: row;

        input {
          width: 29vw;
          background-color: var(--darkblue);
          border: 0.2vw var(--white) solid; 
          border-radius: 40vw;
          padding: 1vw;
          padding-left: 2vw;
          font-family: 'TT Firs Neue Regular';
          font-size: 1.3vw;
          color: var(--white);
        }
        
        .A_PrimaryButton {
          margin-left: 3.44vw;
        }
      }
    }
  }

  .S_WordOfTheDay {
    width: 89.42vw;
    height: fit-content;
    margin: 2.116vw auto;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    column-gap: 1.32vw;

    .WD_T1 {
      display: inline-block;
      grid-column-start: 1;
      grid-column-end: 16;
      margin-top: 8vw;
    }
    .WD_T2 {
      display: inline-block;
      grid-column-start: 3;
      grid-column-end: 16;
      }
    .A_ArticleBodyText {
      margin-top: 3vw;
      width: 100%;
      grid-column-start: 3;
      grid-column-end: 13;
    }
    .A_SecondaryButton {
      margin-top: 2vw;
      grid-column-start: 3;
      grid-column-end: 6;
    }
    img {
      position: absolute;
      top: 170vw;
      left: 50.66vw;
      width: 44vw;
      height: 29.76vw;
    }
  }

  // Ipad Landscape
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .S_ArticleHeader {

      .O_ArticleGridSection {
        .MainTitle_1_2, .MainTitle_2_2 {
          margin-left: 1vw;
        }

        .MainTitle_3_2 {
          margin-left: 0vw;
        }
      }
      
    }
    
  }
  
  // Ipad Portrait
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .S_ArticleHeader {
  
      .O_ArticleGridSection {
        .MainTitle_1_2, .MainTitle_2_2 {
          margin-left: 0vw;
        }

        .MainTitle_3_2 {
          grid-column-start: 6;
          margin-left: 5vw;
        }
      }

      .CB2_main_3 {
        top: 42.62vw;
      }
  
      @keyframes circle-4 {
        0% {
          top: 39vw;
          left: -15vw;
          transform: scale(0.8);
        }
        100% {
          top: 42.62vw;
          left: 20.63vw;
          transform: scale(1);
        }
      }

      .MainTag3 {
        left: 6.33vw;
      }
    }
    
    .S_ArticleContent {

      .C_DictionaryCards {
        .O_DictionaryCard:nth-child(4) {
          display: none;
        }
      }

      .O_ArticleCard {
        .M_ArticleCard {
          height: 13.06vw;

          .A_ArticleCardP {
            display: none;
          }
        }
      }

      .TestContainer {
        flex-direction: column;
        align-items: baseline;
        gap: 2.38vw;

        .ArticleHeaderContainer {
          width: 100%;
          flex-direction: row;
          justify-content: space-between;
          .A_ArticleH2 {
            width: 50vw;
          }
          .A_ArticleBodyText {
            display: none;
          }
        }
      }
      .O_Form {
        height: 14vw;
      }
    }

    .S_WordOfTheDay {
      img {
        top: 176vw
      }
    }
  }

  // Mobile
  @media only screen and (max-device-width: 414px) and (orientation: portrait) {
      .S_ArticleHeader {
        height: 90vh;

        .O_ArticleGridSection {
          width: 84vw;
          margin-top: 18vw;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          row-gap: 3.846vw;
          column-gap: 4.1vw;

          .MainTitle_1_1 {
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 1;
            grid-column-end: 5;
          }
  
          .MainTitle_1_2 {
            grid-row-start: 4;
            grid-row-end: 5;
            grid-column-start: 1;
            margin-left: 13vw;
            grid-column-end: 5;
          }

          .MainTitle_2_1 {
            grid-row-start: 5;
            grid-row-end: 6;
            grid-column-start: 1;
            margin-left: 5vw;
            grid-column-end: 5;
          }

          .MainTitle_2_2 {
            grid-row-start: 6;
            grid-row-end: 7;
            grid-column-start: 2;
            grid-column-end: 5;
          }
  
          .MainTitle_3_1 {
            grid-row-start: 7;
            grid-row-end: 8;
            grid-column-start: 2;
            grid-column-end: 5;
            margin-left: 12vw;
          }

          .MainTitle_3_2 {
            grid-row-start: 8;
            grid-row-end: 9;
            grid-column-start: 2;
            grid-column-end: 5;
          }
        }

        .A_PrimaryButton {
          margin-top: 142vw;
        }
        
        .Q_2Circles, .Q_3Circles {
          display: none;
        }        
        
        .MainTag1 {
          top: 120vw;
        }

        .MainTag2 {
          top: 27vw;
          left: 60vw;
        }

        .MainTag3 {
          top: 34.92vw
        }

        .MainTag4 {
          top: 82vw;
        }
      }

      .S_MainValues {
        height: 108.54vw;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 13vw;

        .ValuesGrid {
          display: flex;
          flex-direction: column;
          gap: 4vw;

          .A_ArticleTitle {
            font-size: 10vw;
          }
        }
      }

      .S_ArticleContent {
        .ArticleHeaderContainer {
          margin-top: 8vw;
          flex-direction: column;
          align-items: baseline;

          .A_ButtonLoad {
            text-decoration: underline;
          }
        }

        .O_ArticleCard {
          height: 38vw;
        }
        
        .TestContainer {
          flex-direction: column;
  
          .ArticleHeaderContainer {
            width: 100%;
          }

          .O_TestCard {
            margin-top: 4vw;
          }
        }

        .O_Form {
          height: fit-content;
          padding: 5vw 5vw;
          border-radius: 4.1vw;
          gap: 5vw;

          .InputBtn {
            flex-direction: column;

            form {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 3vw;

              input {
                width: 100%;
                padding: 2vw;
                font-size: 3vw;
                border: 0.5vw solid var(--white)
              }
              .A_PrimaryButton {
                width: 100%;
                margin-left: 0;
              }
            }
          }
        }
      }

      .S_WordOfTheDay {
        margin-top: 6vw;
        display: flex;
        flex-direction: column;

        .A_ArticleTitle {
          font-size: 10vw;
        }

        .A_SecondaryButton {
          margin-top: 4vw;
        }

        img {
          display: none;
        }
      }
  
    }
}
