body::before {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width:100%;
       height: 100%;
       background: url(images/maket.png);
       background-size:cover;
       opacity: .6;
     }
h1 {
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-size: 3.7vw;
}
p {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.5vw;
}
@media all and (min-width: 1280px) {
  body.index {
    div:nth-of-type(1) {
      padding: 18.3vw 0;
      h1 {
        margin: 0 auto;
        text-align: center;
      }
      p {
        width: 34vw;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

