body.styleguide {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: var(--white);
    // background: url('images/maket_styleguide.png');
    background-size: cover;
    // opacity: 0.3;

    h2, h3, p {
            margin-left: 24vw;
        }

        h3 {
            margin-top: 6vw;
        }

        p {
            width: 32vw;
            margin-top: 2vw;
        }

    .menu-styleguide {
    width: 10vw;
    height: 23vw;
    // background-color: gold;
    position: fixed;
    left: 5vw;
    top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;

    .logo {
        width: 100%;
        height: 3vw;
        background-image: url('images/logo-blue.png');
    }

    a {
        font-size: 1.5vw;
    }
    }
    // О бренде
    .aboutus {
        width: 100%;
        height: 85vw;
        background-color: var(--pinky);
        padding-top: 7vw;

        div {
            margin-left: 24vw;
        }
        .values {
            width: 43vw;
            height: 10vw;
            margin-top: 2vw;
            background-image: url('images/values.png');
        }
    }

    // Логотип
    .about-logo {
        width: 100%;
        height: 137vw;
        background-color: var(--white);
        padding-top: 7vw;
        padding-right: 5vw;

        h2, h3, p, div {
            margin-left: 24vw;
        }

        .about-logo_text {
            width: 70.6vw;
            height: fit-content;
            margin-top: 3vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            div {
                margin-left: 0vw;
            }

            .semantics {
                width: 36vw;
                height: 100%;

                p {
                    width: 36vw;
                }
            }
            .personality {
                width: 29vw;
                height: 100%;

                p {
                    width: 29vw;
                }
            }
            h3 {
                margin: 0vw;
            }

            p {
                margin-left: 0vw;
            }
        }

        .logo-construction {
            width: 70.6vw;
            height: 17vw;
            margin-top: 2vw;
            background-image: url('images/logo_const.png');
        }

        .logo-allowed {
            width: 70.6vw;
            height: 21.4vw;
            margin-top: 2vw;
            background-image: url('images/logo-allowed.png');
        }

        .logo-donot1, .logo-donot2 {
            width: 70.6vw;
            height: 10vw;
            margin-top: 2vw;
        }

        .logo-donot1 {
            background-image: url('images/logo-donts1.png');
        }

        .logo-donot2 {
            background-image: url('images/logo-donts2.png');
        }
    }

    // Цвета и типографика
    .colortype {
        width: 100%;
        height: 115vw;
        padding-top: 7vw;
        background-color: var(--pinky);

        div {
            // margin-left: 24vw;
            margin-top: 2vw;
        }
        .palette {
            width: 70.6vw;
            height: 20vw;
            margin-left: 24vw;
            background-image: url('images/colors.png');
        }

        h2:nth-of-type(2) {
            margin-top: 7vw;
        }

        .fonts {
            width: 70.6vw;
            height: fit-content;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 24vw;
            gap: 2vw 6vw;
            
            p {
                font-size: 2.5vw;
                margin: 0;
            }

            .font1, .font2, .font3 {
                width: 32vw;
                display: flex;
                flex-direction: column;
                gap: 2vw;
            }

            .font1 p {
                font-family: 'TT Firs Neue Medium';
            }

            .font3 p {
                font-family: 'Yunga';
            }
        }
    }
    .grid {
        width: 100%;
        background-color: var(--white);
        height: 400vw;
        padding-top: 7vw;

        img {
            width: 78vw;
            height: 46vw;
            margin-left: 21vw;
        }

        .grid_forweb {
            width: 70.6vw;
            height: 21vw;
            display: flex;
            justify-content: space-between;
            margin-left: 24vw;
            margin-top: 3vw;

            .web1, .web2 {
                width:34vw;
                height: 100%;
            }
            .web1 {
                background-image: url('images/grid_forweb_1.png');
            }

            .web2 {
                background-image: url('images/grid_forweb_2.png');
            }
        }

        .banner {
            width: 70.6vw;
            height: 21vw;
            margin-top: 2.5vw;
            margin-left: 24vw;
            background-image: url('images/grid_bigposter.png');
        }

        .posters {
            width: 70.6vw;
            height: 34vw;
            display: flex;
            margin-left: 24vw;
            margin-top: 2.5vw;
            justify-content: space-between;
            margin-bottom: 5vw;

            .poster1, .poster2, .poster3 {
                width: 22.8vw;
                height: 100%;
            }

            .poster1 {
                background-image: url('images/grid_poster1.png');
            }

            .poster2 {
                background-image: url('images/grid_poster2.png');
            }

            .poster3 {
                background-image: url('images/grid_poster3.png');
            }
        }
        
        .photos {
            width: 70.6vw;
            height: 34vw;
            display: flex;
            margin-left: 24vw;
            margin-top: 2.5vw;
            justify-content: space-between;
            margin-bottom: 5vw;
        }

        .photo1, .photo2, .photo3 {
            width: 22.8vw;
            height: 100%;
        }

        .photo1 {
            background-image: url('images/photo1.png');
        }

        .photo2 {
            background-image: url('images/photo2.png');
        }

        .photo3 {
            background-image: url('images/photo3.png');
        }

        .graphics {
            width: 67vw;
            height: 29vw;
            margin-left: 24vw;
            margin-top: 3vw;
            display: grid;
            gap: 1vw;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;

            .shape1 {
                width: 100%;
                height: 100%;
                grid-column-start: 5;
                grid-column-end: 7;
                grid-row-start: 1;
                grid-row-end: 3;
                background-image: url('images/shape1.png');
                border-radius: 50%;
            }

            .shape1:hover {
                background-image: url('images/shape1_hover.png');
            }

            .shape2 {
                width: 100%;
                height: 100%;
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 5;
                background-image: url('images/shape2.png');
                border-radius: 50%;
            }

            .shape2:hover {
                background-image: url('images/shape2_hover.png');
            }

            .shape3 {
                width: 100%;
                height: 100%;
                grid-column-start: 7;
                grid-column-end: 8;
                grid-row-start: 3;
                grid-row-end: 4;
                background-image: url('images/shape3.png');
                border-radius: 50%;
            }

            .shape3:hover {
                background-image: url('images/shape3_hover.png');
            }
        }
        p:nth-of-type(6) {
            margin-top: 4vw;
        }

        .graphics2 {
            width: 52vw;
            height: 14vw;
            margin-top: 6vw;
            margin-left: 24vw;
            background-image: url('images/graphics2.png');
        }

        h2:nth-of-type(4) {
            margin-top: 7vw;
        }

        .mockups {
            width: 70.6vw;
            height: 100vw;
            display: flex;
            margin-top: 2vw;
            margin-left: 24vw;
            gap: 2vw;

            .mockup1 {
                width: 100%;
                height: 48vw;
                background-image: url('images/mockup1.png');
            }
        }
    }
    
}

.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--basicblue);
}

.circle:hover {
    background-color: var(--pinky);
}

// Первый экран
.firstscreen {
    width: 100%;
    height: 57vw;
    background-color: var(--darkblue);
    position: relative;
    z-index: 3;

    .circlegrid {
        width: 100%;
        height: 100%;
        display: grid;
        padding: 3.5vw 5vw 1vw 5vw;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 1.8vw 1.8vw;

        .circlebig1 {
            width: 100%;
            height: 100%;
            grid-column-start: 5;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 3;
            background-color: var(--basicblue);
            border-radius: 50%;
        }

        .circlebig1:hover {
            background-color: var(--pinky);
        }

        .circlebig2 {
            width: 100%;
            height: 100%;
            grid-column-start: 11;
            grid-column-end: 13;
            grid-row-start: 2;
            grid-row-end: 4;
            background-image: url('images/style-circle2.png');
            border-radius: 50%;
        }

        .circlebig2:hover {
            background-image: url('images/style-circle2_hover.png');
        }

        .circlebig3 {
            width: 100%;
            height: 100%;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 5;
            background-image: url('images/style-circle1.png');
            border-radius: 50%;
        }

        .circlebig3:hover {
            background-image: url('images/style-circle1_hover.png');
        }

        .logo {
            width: 100%;
            height: 100%;
            grid-column-start: 3;
            grid-column-end: 11;
            grid-row-start: 3;
            grid-row-end: 5;
            background-image: url('images/logo.png');
        }

        .circlebig4 {
            width: 100%;
            height: 100%;
            grid-column-start: 3;
            grid-column-end: 6;
            grid-row-start: 5;
            grid-row-end: 9;
            background-image: url('images/style-circle3.png');
            border-radius: 50%;
        }

        .circlebig4:hover {
            background-image: url('images/style-circle3_hover.png');
        }

        .circlebig5 {
            width: 100%;
            height: 100%;
            grid-column-start: 6;
            grid-column-end: 8;
            grid-row-start: 5;
            grid-row-end: 7;
            background-color: var(--basicblue);
            border-radius: 50%;
        }

        .circlebig5:hover {
            background-color: var(--pinky);
        }

        .style-bubble {
            width: 100%;
            height: 100%;
            grid-column-start: 9;
            grid-column-end: 11;
            grid-row-start: 5;
            grid-row-end: 6;

            .styleguide-bubble {
                width: fit-content;
                height: fit-content;
                padding: 0.4vw 1.8vw;
                background-color: var(--darkblue);
                border: 0.2vw solid var(--pinky);
                border-radius: 10vw;

                p {
                    margin: 0vw;
                    width: 100%;
                    color: var(--pinky);
                    font-size: 2vw;
                }
            }
        }

        .circlebig6 {
            width: 100%;
            height: 100%;
            grid-column-start: 9;
            grid-column-end: 11;
            grid-row-start: 6;
            grid-row-end: 8;
            background-color: var(--basicblue);
            border-radius: 50%;
        }
        
        .circlebig6:hover {
            background-color: var(--pinky);
        }
    }
}

@media only screen and (max-width: 414px) {
    body.styleguide {   
        // background: url('images/styleguide-mobile.png');
        background-size: cover;
        // opacity: 0.3;

        h2, h3, p, div {
            margin-left: 0;
        }

        h2 {
            margin-top: 4vw;
            width: 78vw;
        }

        h3 {
            margin-top: 6vw;
            width: 78vw;
        }

        p {
            width: 78vw;
        }

        .menu-styleguide {
            display: none;
        }

        .firstscreen {
            height: 177vw;

            // .circlegrid {
            //     grid-template-columns: 1fr 1fr 1fr 1fr;
            //     grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            //     padding: 14.5vw 8vw 14.5vw 9vw;

            //     .empty:nth-of-type(1) {
            //         display: none;
            //     }
            // }
        }

        // О бренде_мобилка
        .aboutus {
            height: 220vw;
            padding-left: 9vw;

            .values {
                width: 78vw;
                height: 32vw;
                margin-top: 4vw;
                margin-left: 0vw;
                background-image: url('images/styleguide/values-mobile.png');
            }
        }

        // Лого_мобилка
        .about-logo {
            height: 528vw;
            padding-left: 9vw;

            h2, h3, p, div {
                margin-left: 0;
            }

            .about-logo_text {
                margin-top: 6vw;
                flex-direction: column;
                gap: 3vw;

                .semantics {
                    width: 78vw;

                    p {
                        width: 78vw;
                    }
                }

                .personality {
                    width: 78vw;

                    p {
                        width: 78vw;
                    }
                }
            }

            .logo-construction {
                background-image: url('images/styleguide/logo-const_mobile.png');
                width: 78vw;
                height: 24vw;
                margin-top: 3vw;
            }

            .logo-allowed {
                background-image: url('images/styleguide/logo-allowed.png');
                width: 78vw;
                height: 94vw;
                margin-top: 4vw;
            }

            .logo-donot1 {
                margin-top: 4vw;
                width: 78vw;
                height: 71vw;
                background-image: url('images/styleguide/logo-donts1_mobile.png');
            }

            .logo-donot2 {
                margin-top: 4vw;
                width: 78vw;
                height: 71vw;
                background-image: url('images/styleguide/logo-donts2_mobile.png');
            }
        }

        // Цвета и типографика_мобилка
        .colortype {
            height: 315vw;
            padding-left: 9vw;

            .palette {
                background-image: url('images/styleguide/colors_mobile.png');
                margin-left: 0vw;
                width: 78vw;
                height: 78vw;
                margin-top: 4vw;
            }

            .fonts {
                width: 78vw;
                margin-left: 0vw;
                margin-top: 6vw;
                flex-direction: column;
                gap: 4vw;
            }

            .font1, .font2, .font3 {
                width: 78vw;
                
                p {
                    font-size: 5vw;
                }
            }
        }
    }
}