body.test {
    background-color: var(--white);
    // .A_ArticleBodyText {
    //     width: 40.15vw;
    //     margin-top: 2.32vw;
        
    // }
    .ABTLeft {
        margin: 2.32vw 0 2.32vw 0;
        width: 40.15vw;
    }
    .S_TestCard {
        width: fit-content;
        margin: 0 auto;
    }
    .TestCardDecorM {
        background-image: url('./images/basic/A_TestCardDecorM.svg');
    }
}
// Ipad Landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    body.test{
        .ABTLeft {
            width: 56.94vw;
        }
    } 
}

// Ipad Portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
   body.test{
        .TestCardDecorM {
            background-image: url('./images/basic/A_TestCardDecorMPortrait.svg');
        }
        .ABTLeft {
            width: 54.87vw;
        }
        
    } 

}
// Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body.test{
        .ABTLeft {
            margin: 5vw 0 5vw 0;
            width: 83.59vw;
        }
        
    } 
}
