.S_Header {
  display: flex;
  justify-content: space-between;
  padding: 2vw 5.56vw;
  align-items: center;
  margin: 0 auto;
  background-color: var(--darkblue);
    .M_Header {
      display: flex;
      gap: 20px;
    }
  }
  .S_SearchContent {
    display: flex;
    gap: 1vw;
    .M_PostTeaser {
        width: 21.34vw;
        display: flex;
        flex-direction: column;
        gap: 1vw;
        background-color: var(--pinky);
        border-radius: 1.59vw;
        padding-bottom: 1vw;
        .A_Image {
            border-top-left-radius: 1.59vw;
            border-top-right-radius: 1.59vw;
            height: 14.286vw;
            object-fit: cover;
            width: 100%;
        }
    }
    .C_PostTeaserTags {
        margin-top: auto;
        display: flex;
        gap: 0.4vw 0.4vw;
        flex-wrap: wrap;
        padding: 0 1vw 0 1vw;
        .A_Text {
            border: .13vw solid var(--darkblue);
            color: var(--darkblue);
            border-radius: 50vw;
            display: inline-block;
            font-size: 1.192vw;
            padding: .364vw .863vw;
            width: fit-content;
        }
    }
}

.O_SearchBar {
  .C_PostSuggestions {
      margin-top: 0.1vw;
      position: absolute;
      overflow: scroll;
      width: 16vw;
      max-height: 40vw;
      // margin-left: 1.5vw;
      background-color: var(--basicblue);
      padding: 0vw 1.5vw 1.5vw 1.5vw;
      border-radius: 12%;
      z-index: 5;
  }
}


.M_SearchForm {
  width: 16.01vw;
  height: 3.13vw;
  position: relative;
  .A_Input{
      width: 100%;
      height: 100%;
      border: 0.13vw solid var(--darkblue);
      background-color: var(--white);
      font-family: 'TT Firs Neue Regular';
      font-size: 1.112vw;
      align-items: center;
      color: var(--darkblue);
      border-radius: 50vw;
      padding: 0 1.5vw;
  }
  .A_Button {
      border: none;
      cursor: pointer;
      position: absolute;
      right: 0.45vw;
      top: 0.32vw;
      border-radius: 100vw;
      
  }
}

.M_PostTeaser {
  text-decoration: none;
  .A_Text {
      font-family: 'TT Firs Neue Regular';
      color: var(--darkblue);
      width: auto;
      
      padding: 0 1vw 0 1vw;
      &.h3{
          font-size: 2.387vw;
          line-height: 98%;
          text-decoration: none;
      }
      &.p {
          font-size: 1.46vw;
          text-decoration: none;
      }
      &.tag {
          font-size: 1.19vw;
          text-decoration: none;
      }
  }
}

.M_PostSuggestion {
  font-family: 'TT Firs Neue Regular';
  font-size: 1.3vw;
  align-items: center;
  color: var(--white);
  text-decoration: none;
  
  .A_Text {
      &.h3{
          margin-top: 1.5vw;
          font-size: 1.1vw;
      }
  }
}
.C_MainMenu {
  display: flex;
  gap: 2.5vw;
  .A_MainMenu {
    font-family: 'TT Firs Neue Regular';
    font-size: 1.49vw;
    align-items: center;
    color: var(--white);
    text-decoration: none;
  }

}
.A_Button {
  width: 2.431vw;
  height: 2.431vw;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s;
  cursor: pointer;
  background-image: url('./images/basic/Q_SearchHover.svg');
  background-size: contain;
  background-repeat: no-repeat;
  &.primary {
      &.disabled {
          cursor: default;
              background-image: url('./images/basic/Q_SearchHover.svg');
      }
  }
  &.resetField {
      background-image: url('./images/basic/Q_CancelBlue.svg');
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateX(-2.5vw);
  }
}

// Ipad Landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

}


// Ipad Portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .C_MainMenu {
    scale: 1.2;
    gap: 1.5vw;
  }
  .M_SearchForm {
    scale: 1.2;
  }
  .S_SearchContent {
    .M_PostTeaser {
      border-radius: 2.08vw;
      gap: 1.46vw;
      height: 45vw;
      width: 28.385vw;
      .A_Text {
        margin-left: 0.6vw;

        &.p {
          width: 90%;
          font-size: 2vw;
        }
        &.h3 {
          font-size: 2.5vw;
        }
        &.tag {
          font-size: 1.5vw;
        }
      }

      .C_PostTeaserTags {
        gap: 0.6vw 0.6vw;
        margin-bottom: 0.6vw;
        .A_Text {
          border: 0.17vw solid var(--darkblue);
          padding: 0.85vw 1.5vw;
          font-size: 1.83vw;
        }
      }
    }
  }
}

// Mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .S_Header {
    display: none;
  }
  .S_SearchContent {
    flex-direction: column;
    gap: 5vw;
    .M_PostTeaser {
      gap: 2vw;
      width: 100%;
      border-radius: 5vw;
      height: 85vw;
      padding-bottom: 3vw;

      .A_Image {
        border-top-left-radius: 5vw;
        border-top-right-radius: 5vw;
        height: 50vw;
      }

      .A_Text, .C_PostTeaserTags {
        padding: 0 3vw;
      }
      .A_Text {
        &.h3 {
          font-size: 4.85vw;
        }
        &.p {
          font-size: 3.5vw;
          width: 90%;
        }
        &.tag {
          font-size: 2.9vw;
        }
      }

      .C_PostTeaserTags {
        gap: 1vw;
        .A_Text {
          border: 0.3vw solid var(--darkblue);
          padding: 1.1vw 1.7vw;
          
        }
      }
    }
  }
}